<div class="fg-wrapper">

  <div class="fg-cards-container">

    <div class="fg-despesa-receita-saldo-container">
      <div class="fg-despesa-receita-container">
        <div class="fg-despesa-card-container">
          <fg-despesa-card></fg-despesa-card>
        </div>

        <div class="fg-receita-card-container">
          teste receitas
        </div>

      </div>
      <div class="fg-saldo-container">
        <div class="fg-saldo-card-container">
          teste
        </div>
      </div>
    </div>

    <div class="fg-grafico-container">
      Teste Gráfico
    </div>
  </div>
</div>
