<div class="fg-wrapper">

  <div class="fg-cards-container">

    <div class="fg-despesa-receita-saldo-container">
      <div class="fg-despesa-card-container">
        <fg-despesa-card></fg-despesa-card>
      </div>

      <div class="fg-receita-card-container">
        <fg-receita-card></fg-receita-card>
      </div>

      <div class="fg-saldo-card-container">
        <fg-saldo-card></fg-saldo-card>
      </div>
    </div>

    <div class="fg-grafico-container">
      Teste Gráfico
    </div>
  </div>
</div>
