:root {
  --fg-bg-darker: #282a36;
  --fg-bg-dark: #44475a;
  --fg-gray: #DFCCCC;
  --fg-light-gray: #f8f8f2;

  --fg-primary: #ff79c6;
  --fg-secundary: #3f0315;

  --fg-bg-receita-card: #acd8ac;
  --fg-primary-receita-card: #053f05;

  --fg-bg-despesa-card: #fcbdbd;
  --fg-primary-despesa-card: #690523;

  --fg-bg-saldo-card: #a0b4f7;
  --fg-primary-saldo-card: #051e70;
}
