.fg-header
{
  height: 50px;
  background-color: var(--fg-bg-darker);
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);

  >.fg-wrapper
  {
    width: var(--fg-main-wrapper);
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;

    >.fg-menu
    {

      >.fg-menu-opcoes-container
      {

        >.fg-menu-opcoes
        {
          margin-left: 20px;
          display: inline;
          transition: 0.5s;
        }

        >.fg-menu-opcoes:hover
        {
          color: var(--fg-primary);
        }
      }
    }

    >.fg-logo
    {
      text-align: center;
    }

    >.fg-menu-usuario
    {
      margin-right: 20px;
      text-align: right;
      transition: 0.5s;
    }

    >.fg-menu-usuario:hover
    {
      color: var(--fg-primary);
    }
  }
}
