@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;500;700&display=swap');

html {
  background-color: var(--fg-bg-dark);
  color: var(--fg-light-gray);
  font-family: 'Akshar', sans-serif;
  font-weight: 300;
}
